.footer__page {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer__button-home {
  border: 1px solid mintcream;
}

.footer__button-bookmarks {
  border: 1px solid mintcream;
}

.footer__button-create {
  border: 1px solid mintcream;
}

.footer__button-settings {
  border: 1px solid mintcream;
}

@media (max-width: 600px) {
  .footer__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: small;
  }
}
